---
layout: default
---
<div style="height:51px;"></div>
<div class="home">
   <div class="content-col-wrapper">
      <div class="content-col  content-col-1">

          <div style="color: #505050; font-family: 'Roboto', sans-serif; font-weight:400; font-size:21px; letter-spacing: -1px;">
            <!-- Its my description content, you can change it -->
            Brom [ ] sebuah blog yang menyajikan tutorial, info, dan tips secara praktis
            dengan artikel yang telah dibuat secara efisien. Serta artikel bisa dibaca sampai akhir dengan suasana santai.
            Mau buat artikel di sini? Ingin <a href="#">Berkontribusi</a>?
          </div>
          <p></p>
            <ul class="post-list">
              {% for post in site.posts %}
                <div id="menu" style="height:30px; width:670px; float:left; border-bottom: 1px dashed #eee; padding-top: 5px;">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </div>

                <div id ="content" style="height:30px; width:100px; float:left;border-bottom: 1px dashed #eee; padding-top: 5px;">
                  <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </div>

              {% endfor %}
            </ul>
          </div>
      
      <div class="content-col  content-col-2">
          {% include tweet.html %}
          <p>
          {% include octocard.html %}
      </div>
    </div>
</div>
</div>
