/**
 * Site header
 */
.site-header {
    border-top: 5px solid #f4645f;
    border-bottom: 1px solid #f4645f;
    min-height: 120px;
    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: #f4645f;

}

.content-col-wrapper {
    font-size: 15px;
    color: #6C6C6C;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.content-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.content-col-1 {
    width: 70%;
}

.content-col-2 {
    width: 27%;
    height: 50%;
}

@include media-query($on-laptop) {
    .content-col-1,
    .content-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        height: -webkit-calc(20% - (#{$spacing-unit} / 2));
        height:         calc(20% - (#{$spacing-unit} / 2));
    }

    .content-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .content-col {
        float: left;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.wrapper-v2 {
  max-width: calc(1360px - (30px * 2));
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 1360px) {
    .wrapper-v2 {
      max-width: calc(1300px - (30px));
      padding-right: 95px;
      padding-left: 25px; } }

.wrapper-v3 {
  max-width: calc(1100px - (30px * 2));
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 1100px) {
    .wrapper-v3 {
      max-width: calc(1100px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.wrapper-v4 {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


.site-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 107px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: #f8f8f8;
    &,
    &:visited {
        color: #f8f8f8;
    }

    @include media-query($on-palm) {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 107px;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        color: #f8f8f8;
        &,
        &:visited {
            color: #f8f8f8;
        }
    }

    @include media-query($on-laptop) {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 107px;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        color: #f8f8f8;
        &,
        &:visited {
            color: #f8f8f8;
        }
    }
}

.site-nav {
    float: right;
    line-height: 116px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #f8f8f8;
        line-height: $base-line-height;
        font-weight: bold;
        font-size: 20px;
        margin-right: 40px;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: grey;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            background-color: grey;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            line-height: 118px;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #6C6C6C;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
        text-align: -webkit-center;
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: -webkit-center;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: -webkit-center;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 16px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 600;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
