<!DOCTYPE html>
<html>
{% include head.html %}
  <!--
                _____________________
                |###################|
                |###################|
                |###################|
                |###################|
    ((- - - - - - - - - - - - - - - - - - - - -
    | \         /  /@@ \      /@@ \  \
     \ \,      /  (     )    (     )  \             _____
      \ \      |   \___/      \___/   |            /  __ \
       \ ""*-__/                      \            | |  | |
        ""*-_                         "-_          | |  """
             \    -.  _________   .-   __"-.__. -((  ))
              \,    \^    U    ^/     /  "-___- -((  ))
                \,   \         /    /'             | |
                 |    \       /   /'               | |
                 |     "- - -"    \                | |
                /                  "*-._           | |
               /   /\          /*-._    \          | |
              /   /  "\______/"     /   /          | |
             /   /                 /   /           | |
            /. ./                  |. .|           """
           /  | |                  / | \
          /   |  \                /  |  \
         /.-./.-.|               /.-.|.-.\
  -->
  <body>
{% include header.html %}
  <div class="page-content">
    <div class="wrapper-fit">
{{ content }}
    </div>
  </div>
{% include footer.html %}
  <script type="text/javascript" src="{{ "/js/min.js" | prepend: site.baseurl }}"></script>
 </body>
</html>